In [ ]:
import pandas as pd
import numpy as np

### 1 - Importez les 3 fichiers csv

This code snippet is reading data from three CSV files into three separate Pandas DataFrames. 
- `olist_payments` DataFrame is being created by reading data from the 'olist_order_payments.csv' file.
- `olist_orders` DataFrame is being created by reading data from the 'olist_orders.csv' file.
- `olist_customers` DataFrame is being created by reading data from the 'olist_customers_ab_test.csv' file.

In [ ]:

olist_payments = pd.read_csv('olist_order_payments.csv')
olist_orders = pd.read_csv('olist_orders.csv')
olist_customers = pd.read_csv('olist_customers_ab_test.csv')

This code snippet is iterating over a list of DataFrames (`olist_payments`, `olist_orders`, `olist_customers`) and printing out the shape of each DataFrame. The `shape` attribute of a DataFrame returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). So, this code will output the shape (number of rows, number of columns) of each DataFrame in the list.

In [ ]:
for dfs in [olist_payments, olist_orders, olist_customers]:
    print(dfs.shape)

`olist_payments.head(10)` is a method used in pandas to display the first 10 rows of the DataFrame `olist_payments`. This is helpful for quickly inspecting the data and understanding its structure.

In [ ]:
olist_payments.head(10)

`olist_orders.head(10)` is a method used in pandas to display the first 10 rows of the DataFrame `olist_orders`. It is useful for quickly inspecting the data at the beginning of the DataFrame.

In [ ]:
olist_orders.head(10)

`olist_customers.head(10)` is a method used to display the first 10 rows of the `olist_customers` dataset or dataframe. This is helpful for quickly inspecting the data and understanding its structure.

In [ ]:
olist_customers.head(10)

Now performing a left join merge operation between two DataFrames `olist_customers` and `olist_orders` based on the column 'customer_id'. The resulting DataFrame `first_merge` will contain all rows from `olist_customers` and matching rows from `olist_orders`, with non-matching rows in `olist_orders` filled with NaN values.

In [ ]:
first_merge = olist_customers.merge(olist_orders, on = 'customer_id', how='left')

Now merging two DataFrames, `first_merge` and `olist_payments`, on the column 'order_id' using a left join. The resulting DataFrame `olist_data` will contain all the rows from `first_merge` and any matching rows from `olist_payments`, with missing values filled in with NaN for any non-matching rows from `olist_payments`.

In [ ]:
olist_data = first_merge.merge(olist_payments, on='order_id', how='left')

In [ ]:
# Si on voulait exporter les donn√©es en CSV : 
#olist_data.to_csv('olist_data.csv')

`olist_data['order_status'].value_counts()` is counting the number of occurrences of each unique value in the 'order_status' column of the DataFrame `olist_data`. It returns a Series with the counts of each unique value in the 'order_status' column.

In [ ]:
olist_data['order_status'].value_counts()

`olist_data.shape` is a Python code snippet that is used to retrieve the dimensions of a DataFrame or a NumPy array named `olist_data`. The `shape` attribute returns a tuple representing the number of rows and columns in the DataFrame or array. The first element of the tuple represents the number of rows, and the second element represents the number of columns.

In [ ]:
olist_data.shape

The code `olist_data.describe(include='all')` is used to generate descriptive statistics of the data in the `olist_data` DataFrame. By specifying `include='all'`, it will provide statistics for both numerical and categorical columns in the DataFrame. This includes count, mean, standard deviation, minimum, maximum, and various quantiles for numerical columns, as well as count, unique values, top value, and frequency for categorical columns.

In [ ]:
olist_data.describe(include='all')

In [ ]:
## columns = [['customer_id', 'customer_unique_id', 'customer_city', 'customer_state', 'order_id', 'order_purchase_timestamp','payment_type','payment_installments', 'payment_value']]

Dropping specific columns from the `olist_data` DataFrame. The columns being dropped are 'Unnamed: 0', 'customer_zip_code_prefix', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', and 'payment_sequential'. By using the `drop` method with the `columns` parameter, these columns are removed from the DataFrame, and the modified DataFrame is assigned back to the variable `olist_data`.

In [ ]:
olist_data = olist_data.drop(columns = ['Unnamed: 0', 'customer_zip_code_prefix', 'order_approved_at',

       'order_delivered_carrier_date', 'order_delivered_customer_date',

       'order_estimated_delivery_date', 'payment_sequential'])

`olist_data.head(10)` is a method used in pandas to display the first 10 rows of the DataFrame `olist_data`. This is helpful for quickly inspecting the data and understanding its structure.

In [ ]:
olist_data.head(10)

`olist_data.shape` is a Python code snippet that is used to retrieve the dimensions of a DataFrame or a NumPy array named `olist_data`. The `shape` attribute returns a tuple representing the number of rows and columns in the DataFrame or array. This can be helpful in understanding the size and structure of the data you are working with.

In [ ]:
olist_data.shape

`olist_data['customer_id'].value_counts()` is a Pandas function that counts the occurrences of each unique value in the 'customer_id' column of the DataFrame `olist_data`. It returns a Series with the counts of each unique customer_id in the dataset.

In [ ]:
olist_data['customer_id'].value_counts()

Assigning the value of `olist_data` to the variable `df` and then displaying the contents of `df`. It is essentially creating a new variable `df` that holds the data from `olist_data` and then showing the contents of `df`.

In [ ]:
df = olist_data
df

### 2 - R√©alisez les op√©rations n√©cessaires pour obtenir:
* le customer_unique_id (id unique au client)
* la ville 
* l'√©tat
* le groupe AB attribu√©
* le nombre de commandes du client
* les d√©penses totales du client
* un dataset filtr√© sur les commandes pass√©es entre f√©vrier et mars 2018 (inclus)

This code snippet is performing the following operations:
*   First line of code is converting the values in the "order_purchase_timestamp" column of the DataFrame `df` into datetime format using the `pd.to_datetime()` function from the pandas library. This conversion is important for performing time-based operations and analysis on the data.
*   Second line `df.set_index("order_purchase_timestamp", inplace=True)` is setting the "order_purchase_timestamp" column as the index of the DataFrame `df`. By setting `inplace=True`, the operation is performed on the DataFrame itself without creating a new DataFrame.
*   Third line of code `df.sort_index(inplace=True)` is sorting the DataFrame `df` by the index in ascending order. The `inplace=True` parameter means that the sorting is done on the DataFrame itself and the changes are applied directly to the DataFrame `df` without the need to create a new sorted DataFrame.
*   Fourth line of code snippet is filtering the DataFrame `df` based on the `order_purchase_timestamp` column.
*   Last line of code `filtered_df.shape` is a command that returns the dimensions of the DataFrame `filtered_df`. It returns a tuple representing the number of rows and columns in the DataFrame. The first element of the tuple represents the number of rows, and the second element represents the number of columns in the DataFrame.

In [ ]:
df["order_purchase_timestamp"]=pd.to_datetime(df["order_purchase_timestamp"])
df.set_index("order_purchase_timestamp", inplace=True)
df.sort_index(inplace=True)
filtered_df=df.loc["2018-02-01":"2018-03-31",:].reset_index()
filtered_df.shape

Now creating a new DataFrame `filtered_df2` by removing duplicate rows from the original DataFrame `filtered_df` based on the 'customer_unique_id' column. The `drop_duplicates()` method is used to eliminate rows with duplicate values in the specified column(s), in this case, 'customer_unique_id'.

In [ ]:
filtered_df2 = filtered_df.drop_duplicates(subset='customer_unique_id')

`filtered_df2.shape` is used to retrieve the dimensions of the DataFrame `filtered_df2`. It returns a tuple representing the number of rows and columns in the DataFrame. The first element of the tuple is the number of rows, and the second element is the number of columns.

In [ ]:
filtered_df2.shape

Now grouping the DataFrame `df` by the column 'customer_unique_id' and then aggregating the data for each unique customer. The aggregation is done by taking the maximum value of the 'AB_group' column and summing up the 'payment_value' column for each customer. The result is stored in a new DataFrame called `df_customers` with the customer_unique_id as the index. The `as_index=False` parameter ensures that the 'customer_unique_id' column is not set as the index in the resulting DataFrame.

In [ ]:
df_customers = df.groupby('customer_unique_id',as_index=False).agg(({'AB_group' : 'max', 'payment_value':'sum'}))

### 3 - Comparez les groupes 0 et 1 du test AB et visualisez la r√©partition de leurs caract√©ristiques

This code is filtering the DataFrame `filtered_df2` into two separate DataFrames based on the values in the 'AB_group' column.

In [ ]:
df_group1 = filtered_df2[filtered_df2['AB_group'] == 1]
df_group0 = filtered_df2[filtered_df2['AB_group'] == 0]

`print(df_group1.shape)` will output the dimensions (number of rows and columns) of the DataFrame `df_group1`, while `print(df_group0.shape)` will output the dimensions of the DataFrame `df_group0`. This can be helpful to quickly check the size of the dataframes and understand their structure.

In [ ]:
print(df_group1.shape)
print(df_group0.shape)

Now creating two new variables `df_group1_pv` and `df_group0_pv` by extracting the 'payment_value' column from two different DataFrames `df_group1` and `df_group0`, respectively. These new variables will contain only the 'payment_value' column data from their respective DataFrames.

In [ ]:
df_group1_pv = df_group1['payment_value']
df_group0_pv = df_group0['payment_value']

Filtering DataFrame `df_customers` into two separate DataFrames based on the values in the 'AB_group' column.

In [ ]:
df_customers1 = df_customers[df_customers['AB_group'] == 1.0]
df_customers0 = df_customers[df_customers['AB_group'] == 0.0]

Now calculating the number of customers tested in two different groups. 
- `tested_customers1` is storing the number of customers tested in the group represented by the DataFrame `df_customers1`.
- `tested_customers0` is storing the number of customers tested in the group represented by the DataFrame `df_customers0`.
- The `shape[0]` method is used to get the number of rows in each DataFrame, which corresponds to the number of customers tested in each group.
- Finally, the code is printing out the number of tested customers in each group using `print(tested_customers1)` and `print(tested_customers0)`.

In [ ]:
#Nombre de customers test√©s par groupe 
tested_customers1 = df_customers1.shape[0]
tested_customers0 = df_customers0.shape[0]
print(tested_customers1)
print(tested_customers0)

Printing the number of customers who have placed an order in two different groups. `df_group1.shape[0]` is used to get the number of rows (customers) in the first group, and `df_group0.shape[0]` is used to get the number of rows (customers) in the second group. The code is simply displaying the count of customers who have made a purchase in each group.

In [ ]:
#Nombre de customers ayant fait une commande 
print(df_group1.shape[0])
print(df_group0.shape[0])

Calculating the conversion rates for two different groups.

In [ ]:
#Mes taux de conversions 
t_conv1 = (df_group1.shape[0])/tested_customers1
t_conv0 = (df_group0.shape[0])/tested_customers0
print(t_conv0)
print(t_conv1)

### 4 - A l'aide d'une simple op√©ration, comparez les d√©penses moyennes dans chaque groupe

The code is calculating the mean value of the data in two different groups, `df_group1_pv` and `df_group0_pv`, and then printing out the mean values. This can help in understanding the average value of the data in each group.

In [ ]:
print(df_group1_pv.mean())
print(df_group0_pv.mean())

### 5 - A l'aide d'un test statistique, d√©terminez si votre comparaison est significative.
Pour ce faire, choisissez un niveau de confiance de 95% dans un premier temps.

`from scipy import stats` is importing the `stats` module from the `scipy` library. This allows you to use statistical functions and methods provided by the `stats` module in your code.

In [ ]:
from scipy import stats

This code is performing an independent two-sample t-test using the `ttest_ind` function from the `scipy.stats` module. It is comparing the means of two groups of data, `df_group1_pv` and `df_group0_pv`, to determine if there is a statistically significant difference between them. The result of the t-test is stored in the variable `test`, which can be used to access the test statistic and p-value for further analysis.

In [ ]:
test = stats.ttest_ind(df_group1_pv,df_group0_pv)
test

In [ ]:
df_group1_pv

Knowing that in group 1, 69% of customers composing the all database visited the website and in group 0, only 67% visited the website, calculating the estimated number of visitors to the site for two different customer groups.

In [ ]:
#Nombre des customers ayant visit√© le site par groupe 
visitors1 = df_customers1.shape[0]*0.69
visitors0 = df_customers0.shape[0]*0.67
print(visitors1)
print(visitors0)

Performing statistical calculations related to A/B testing. Here's a breakdown of what each part is doing:
*   First line of code is calculating the combined conversion rate by taking a weighted average of the conversion rates of two groups. It multiplies the conversion rate of group 1 (`t_conv1`) by the number of visitors in group 1 (`visitors1`), adds it to the product of the conversion rate of group 0 (`t_conv0`) and the number of visitors in group 0 (`visitors0`), and then divides this sum by the total number of visitors in both groups (`visitors1 + visitors0`). This calculation gives the overall conversion rate across both groups.
*   Second line of code is calculating the standard error (se) for the difference in conversion rates between two groups. The formula for the standard error in this context is based on the combined conversion rate (p_combined) of the two groups, the number of visitors in each group (visitors1 and visitors0), and the individual conversion rates of each group (t_conv1 and t_conv0).
*   Third line of code is calculating the z-statistic for comparing two proportions. The formula for the z-statistic is (p1 - p0) / se, where p1 and p0 are the proportions of the two groups being compared, and se is the standard error of the combined proportions. The z-statistic is used to determine if there is a statistically significant difference between the two proportions.
*   Last line just outputs the calculated value of the z-statistic to the console. This value is calculated based on the formula `(t_conv1 - t_conv0) / se`, where `t_conv1` and `t_conv0` are conversion rates, and `se` is the standard error. The z-statistic is commonly used in hypothesis testing to determine the significance of the difference between two sample means or proportions.

In [ ]:
import math
# Calcul des proportions combin√©es
p_combined = (t_conv1 * visitors1 + t_conv0 * visitors0) / (visitors1 + visitors0)
    
# Calcul de l'erreur standard
se = math.sqrt(p_combined * (1 - p_combined) * ((1 / visitors1) + (1 / visitors0)))
    
# Calcul du z-stat
z_stat = (t_conv1 - t_conv0) / se

print(z_stat)

# Datavisualisation

This code snippet is importing several Python libraries for data analysis and visualization :
*   pandas
*   ydata_profiling
*   missingno
*   `%matplotlib inline` is a magic command in Jupyter notebooks that allows plots to be displayed directly within the notebook, rather than in a separate window. This command sets the backend of matplotlib to the 'inline' backend, which renders the plots as static images in the notebook.
*   matplotlib
*   matplotlib.pyplot
*   matplotlib.colors
*   seaborn

In [ ]:
import pandas as pd
from ydata_profiling import ProfileReport
import missingno

#Datavisualisation
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns

In [ ]:
# Cr√©ation d'un rapport de profil avec pandas_profiling
profile = ProfileReport(olist_data, title="DataFrame Profile Report", explorative=True)

# G√©n√©ration du rapport au format HTML
profile.to_file("profile_report.html")

#Affichage profile
profile

`df.columns` is a property in pandas that returns the column labels of a DataFrame `df`. It provides a list of all the column names present in the DataFrame.

In [ ]:
df.columns

Resetting the index of the DataFrame `olist_data` and storing the result in a new DataFrame called `ol`. The `drop=False` parameter is used to prevent the current index from being removed and added as a new column in the DataFrame.

In [ ]:
ol = olist_data.reset_index(drop=False)

In [ ]:
# Le code `plt.figure()` cr√©e une nouvelle figure pour le trac√©.
plt.figure()

sns.pairplot(ol) # Le param√®tre hue permet de d√©finir la colonne qui servira de s√©rie en l√©gende

plt.show()

Create a facet grid plot using Seaborn to visualize the distribution of customer states within different AB groups.
*   param ol - The dataset containing the data to be plotted
*   Return A facet grid plot showing the distribution of customer states within different AB groups.

In [ ]:
import seaborn as sns

import matplotlib.pyplot as plt

# Cr√©ation d'un FacetGrid
g = sns.FacetGrid(ol, col="AB_group")

# Mapping d'un histogramme sur chaque facet
g.map(sns.histplot, "customer_state")

plt.xticks(rotation=90)

plt.show()

Create a categorical plot to visualize the relationship between customer state, payment value, and AB group.
*   data - the dataset containing the information
*   x - the feature to be plotted on the x-axis (customer state)
*   y - the feature to be plotted on the y-axis (payment value)
*   hue - the feature used for coloring the plot (AB group)
*   kind - the type of plot to be created (bar plot)

Displays the plot with rotated x-axis labels for better readability.

In [ ]:
sns.catplot(data=ol, x="customer_state", y="payment_value", hue="AB_group", kind="bar")
plt.xticks(rotation=90)  # Rotation des √©tiquettes pour une meilleure lisibilit√©
plt.show()

Create a categorical plot to visualize the distribution of payment values across different customer states, segmented by AB groups using a violin plot.
*   data - The dataset containing the information to be plotted.
*   x - The variable to be plotted on the x-axis (customer state).
*   y - The variable to be plotted on the y-axis (payment value).
*   hue - The variable used for grouping the data (AB group).
*   kind - The type of plot to be created (violin plot).

Shows a violin plot showing the distribution of payment values across different customer states and AB groups.

In [ ]:
sns.catplot(data=ol, x="customer_state", y="payment_value", hue="AB_group", kind="violin")
plt.xticks(rotation=90)  # Rotation des √©tiquettes pour une meilleure lisibilit√©
plt.show()

Calculate the correlation matrix of a DataFrame and display it as a heatmap using seaborn.
*   ol - The DataFrame for which the correlation matrix will be calculated.

Shows the correlation heatmap.

In [ ]:
corr = ol.corr()
sns.heatmap(corr, annot=True)
plt.show()

Create multiple PairGrid plots using Seaborn to visualize relationships between variables in a dataset.
- The first block of code creates a PairGrid plot with histograms on the upper diagonal, scatter plots on the lower diagonal, and violin plots on the diagonal for each group in the 'AB_group' column.
- The second block of code creates a PairGrid plot with kernel density plots on the diagonal and histograms on the lower diagonal for each group in the 'AB_group' column.
- The third block of code creates a PairGrid plot with histograms on the diagonal, kernel density plots on the upper diagonal, and histograms on the lower diagonal for each group in the 'AB_group' column.

In [ ]:
g2 = sns.PairGrid(ol, hue='AB_group')
g2.map_upper(sns.histplot)
g2.map_lower(sns.scatterplot)
g2.map_diag(sns.violinplot)
g2.add_legend()

g1 = sns.PairGrid(ol, hue="AB_group")
g1.map_diag(sns.kdeplot)
g1.map_lower(sns.histplot)
g1.add_legend()

g = sns.PairGrid(ol, hue="AB_group")
g.map_diag(sns.histplot)
g.map_upper(sns.kdeplot)
g.map_lower(sns.histplot)
g.add_legend()

Create a FacetGrid plot using seaborn to visualize the distribution and scatter plot of payment values based on the AB_group column.
*   ol - The dataset containing the payment values and AB_group column

Returns a FacetGrid plot showing the distribution and scatter plot of payment values based on the AB_group.

In [ ]:
# Cr√©ation d'un FacetGrid
g = sns.FacetGrid(ol, col="AB_group")

# Mapping d'un histogramme sur chaque facet
g.map(sns.histplot, "payment_value")
g.map(sns.scatterplot, "payment_value")